/.pyenv/
/__pycache__/
__pycache__/
.aider*
.env
/work
/dist
/.agentflow/
.coverage
/.venv
/venv*
/.idea
/htmlcov
.envrc
appmap.log
*.swp
/vsc/node_modules
/vsc/dist
node_modules/
/frontend/common/dist
/frontend/web/dist/
/.vscode
/frontend/common/dist/
/.ra-prompt
src/agentflow/__main__.build
src/agentflow/__main__.dist
src/agentflow/__main__.onefile-build
src/agentflow/__main__.exe
.github
.githooks
.qodo
/.DS_Store
